.users {

  // Login View

  &-login {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    .login {
      &-title {
        color: $white;
      }
      &-container {
        background: $color-background-white;
        border-radius: 3px;
        box-shadow: 0 5px 5px $color-shadow;
        max-width: 320px;
        padding: 15px;
      }

      &-image {
        border-radius: 50%;
        display: block;
        margin: auto;
      }

      &-back {
        @extend .btn-link;
        color: $white !important;
        font-size: 0.8em;

        &:hover {

        }

      }

    }

  }
  &-edit {
    .edit {
      &-sidebar {
        @extend .card;
        &-navigation {
          @extend .nav;
          @extend .flex-column;
          .navigation {
            &-item {
              @extend .nav-item;
              background: $white;
              &.active {
                background: $color-primary;
                border-radius: $border-radius;
                position: relative;
                &:after {
                  background: $color-primary;
                  border: {
                    top: solid 1px $white;
                    right: solid 1px $white;
                  }
                  content: '';
                  height: 1rem;
                  margin-right: -1rem;
                  margin-top: .75rem;
                  position: absolute;
                  right: .45rem;
                  top: 0;
                  transform: rotate(45deg);
                  width: 1rem;
                }
                .navigation-item-link {
                  color: $white;
                }
              }
              &-link {
                @extend .nav-link;
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}