.btn {
  &-primary {
    background: $color-background;
    border-color: transparent;
    &:hover {
      background: $color-background-white;
      border-color: $color-primary;
      color: $color-primary;
    }
    &:focus {
      @extend .btn-primary;
    }
  }
  &-secondary {
    background: $color-background-white;
    border-color: $color-primary;
    color: $color-primary;
    &:hover {
      background: $color-background;
      border-color: transparent;
      color: $white;
    }
    &:focus {
      @extend .btn-secondary;
    }
  }
  &-twitter {
    @extend .btn-info;
  }
  &-linkedin {
    @extend .btn-info;
    background: {
      color: #0077B5;
    }
    border: {
      color: #0077B5;
    }
    &:hover {
      background: {
        color: #004471;
      }
      border: {
        color: #004471;
      }
    }
  }
  &-link {
    color: $color-primary;
    &:hover {
      color: $color-secondary;
    }
    &:focus {
      @extend .btn-link;
    }
  }
  &:focus {
    box-shadow: none;
  }
}