.btn {
  &-primary {
    background: $color-background;
    border-color: transparent;
    &:hover {
      background: $color-background-white;
      border-color: $color-primary;
      color: $color-primary;
    }
    &:focus {
      @extend .btn-primary;
    }
  }
  &-secondary {
    background: $color-background-white;
    border-color: $color-primary;
    color: $color-primary;
    &:hover {
      background: $color-background;
      border-color: transparent;
      color: $white;
    }
    &:focus {
      @extend .btn-secondary;
    }
  }
  &-link {
    color: $color-primary;
    &:hover {
      color: $color-secondary;
    }
    &:focus {
      @extend .btn-link;
    }
  }
  &:focus {
    box-shadow: none;
  }
}